<h1>Ejemplo formulario</h1>

<form (ngSubmit)="guardarFormulario()">
  <label>Nombre: </label>
  <input type="text" [(ngModel)]="nombreEmpleado" name="nombreEmpleado" />
  <br />
  <label>Ocupación: </label>
  <input type="text" [(ngModel)]="ocupacionEmpleado" name="ocupacionEmpleado" />
  <br />
  <button type="submit">Enviar</button>
</form>

<button (click)="funcionAgregar()">Guardar</button>

<br />

<ul>
  @for (empleado of listaEmpleados; track $index) {
  <li>
    Empleado {{ $index + 1 }}: {{ empleado.nombre }} ---
    {{ empleado.ocupacion }}
  </li>
  }
</ul>
